# Challenge 2 - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [24]:
# Import libraries
import pandas as pd

In [25]:
# Load the data:
pokemon=pd.read_csv(r"../your-code\Pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [26]:
pokemon_null=pokemon.isnull().sum()
pokemon_null

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [27]:
nunique=pokemon["Type 1"].nunique()
print(nunique)
nunique2=pokemon["Type 2"].unique
nunique2
unique_types=pokemon[["Type 1","Type 2"]].groupby("Type 1")

18

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [28]:
# Your code here


len(unique_types) # you should see 19

18

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [42]:
pokemon_totals = []


for el in unique_types:
    for el in  pokemon[pokemon['Type 1']] == el | pokemon[pokemon['Type 2']] == el and type(el) !=float:
        if el not in pokemon_totals:
         pokemon_totals.append(pokemon['Total'])
        

len(pokemon_totals)

KeyError: "None of [Index(['Grass', 'Grass', 'Grass', 'Grass', 'Fire', 'Fire', 'Fire', 'Fire',\n       'Fire', 'Water',\n       ...\n       'Flying', 'Flying', 'Fairy', 'Dark', 'Dragon', 'Rock', 'Rock',\n       'Psychic', 'Psychic', 'Fire'],\n      dtype='object', length=800)] are in the [columns]"

In [35]:
pokemon_totals = []

unique_types = list(unique_types)
# Your code here
for el in unique_types:
    if type(el) == str:
        total = pokemon[(pokemon['Type 1'] == el) | (pokemon['Type 2'] == el)]['Total']
        pokemon_totals.append(total)
    else:
        continue

In [36]:
len(pokemon_totals)

0

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [43]:
# Your code here
import scipy.stats as st
print(st.f_oneway(*pokemon_totals))

alpha = 0.05

pvalue < alpha

TypeError: at least two inputs are required; got 0.

#### Interpret the ANOVA test result. Is the difference significant?

In [ ]:
# Your comment here